
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #d5eaf5;
    position: relative;
}

header {
    background-color: #6d7379;
    color: #fff;
    padding: 1em;
    text-align: center;
}

section {
    position: relative;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    color: #333;
}

.project {
    margin-bottom: 20px;
}

.code-container {
     display: none;
    margin-top: 10px;
    padding: 10px;
    background-color: #f0f0f0;
    border: -20px solid #ddd;
    border-radius: -30px;
    text-align: left; /* Hier die Änderung */
    white-space: pre-wrap; /* Um Zeilenumbrüche und Einrückungen im Code zu bewahren */
}


.code-button {
    padding: 5px 10px;
    background-color: #333;
    color: #ffffff;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}

footer {
    background-color:#6d7379 ;
    color: #ffffff;
    text-align: center;
    padding: 0.7em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Animation Styles */
@keyframes buildCircle {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 100px;
        height: 100px;
    }
}

@keyframes drawLine {
    0% {
        width: 0;
    }
    100% {
        width: 100px;
    }
}

.animated-ring {
    position: absolute;
    top: 120px;
    right: 20px;
    width: 20px;
    height: 40px;
    border: 2px solid #000000;
    border-radius: 80%;
    animation: buildCircle 0.5s ease-out forwards;
    overflow: hidden;
}

.horizontal-line {
    position: absolute;
    width: 0;
    height: 2px;
    background-color: #000;
    top: 50%;
    transform: translateY(-1px);
    animation: drawLine 0.5s ease-out forwards 0.5s;
}

.centered-l {
    position: absolute;
    top: 170px;
    right: -27px;
    font-size: 24px;
    color: #0091ff;
    transform: translate(-50%, -50%);
}
.screenshot-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    align-items: center;
    justify-content: center;
}

.screenshot-modal img {
    max-width: 80%;
    max-height: 80%;
}

.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
}
.gist .gist-meta{
    display: none !important;
  }

  :root {
    --light-bg-color: #d5eaf5;
    --dark-bg-color: #222;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--light-bg-color);
    color: #333; /* behält die ursprüngliche Schriftfarbe bei */
    position: relative;
    transition: background-color 0.5s; /* Übergangseffekt für den Hintergrund */
}

.dark-mode {
    background-color: var(--dark-bg-color);
}

/* Farbe des "Code anzeigen/verbergen"-Buttons */
.code-button {
    background-color: #333;
    color: #ffffff;
}

/* Farbe des Texts im "Code anzeigen/verbergen"-Bereich */
.code-container pre,
.code-container code {
    color: black;
}

/* Farbe des Texts im "Projekt"-Bereich */
.project h3,
.project p {
    color: black;
}

/* Farbe der Überschriften im "Projekt"-Bereich */
h2 {
    color: black;
}

/* Farbe des "Code anzeigen/verbergen"-Buttons */
.toggle-mode-button {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #fff;
    color: black;
    padding: 10px 20px;
    border: none;
    border-radius: 20px; /* abgerundete Ecken */
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.3s, color 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Schatten hinzufügen */
}

.toggle-mode-button:hover {
    background-color: #f0f0f0; /* Hintergrundfarbe ändern beim Hover-Effekt */
}

/* Verstecke das Element am unteren Rand */
